div.faq_list details[open] summary {

  background-color: var(--dark-color);
  color: #FFF;

}

div.faq_list {
  border-top: 2px solid #CCC;
}

div.faq_list details[open] summary::before {
  content: "-";
}

div.faq_list summary::marker {
  content: '';
}

div.faq_list summary::before {
  content: '+';
  margin-right: 5px;
}

div.faq_list summary {

  padding: 10px;
  font-size: 1.1em;
  border-bottom: 1px solid rgb(219, 219, 219);
  font-weight: 600;
}

div.faq_list details p {
  line-height: 180%;
  padding: 7px;
  background-color: #EEE;
}