body {
  font-family: "Noto Sans KR", sans-serif;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
  background-color: var(--navy);
  background-image: url("../../img/line-pattern.png");
  background-size: 20px;
  animation: bgmove 100s infinite linear;
}
@media (hover: hover) {
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #000;
  }
  body::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: transparent;
  }
  body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--sky);
  }
}
@media screen and (min-width:1000px) {
  body {
    padding-top: 80px;
  }
}
@media screen and (max-width:1000px) {
  body {
    padding-top: 60px;
  }
}
@keyframes bgmove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100% 0;
  }
}
body main {
  min-height: 50vh;
  overflow: hidden;
}

section.common_section {
  padding: 30px 0;
  margin: 0 auto;
}
section.common_section p.no-data {
  font-style: italic;
  margin-left: 20px;
  color: var(--green);
}
section.common_section h2.common_title {
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
section.common_section h2.common_title i {
  color: var(--sky);
  margin-right: 10px;
  font-size: 1.5em;
}
section.common_section h2.common_title span {
  font-size: 1.5em;
  font-weight: 600;
}
section.common_section h2.common_title::after {
  content: "";
  margin-left: 10px;
  flex: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

section.movie-grid-section div.grid-container figure {
  padding: 0 10px;
  height: auto;
  box-sizing: border-box;
}
section.movie-grid-section div.grid-container figure a {
  background-color: var(--sky);
  display: block;
  height: 100%;
  transition: all 0.3s;
  position: relative;
  z-index: 11;
}
section.movie-grid-section div.grid-container figure a:hover {
  transform: scale(1.1);
  background-color: var(--green);
}
section.movie-grid-section div.grid-container figure a:hover div.imgbox img {
  filter: brightness(100%);
}
section.movie-grid-section div.grid-container figure a div.imgbox {
  position: relative;
  overflow: hidden;
}
section.movie-grid-section div.grid-container figure a div.imgbox img {
  width: 100%;
  filter: brightness(75%);
  transition: all 0.3s;
}
section.movie-grid-section div.grid-container figure a div.imgbox span {
  transform: rotate(45deg);
  display: block;
  background-color: blue;
  width: 80px;
  height: 80px;
  position: absolute;
  right: -40px;
  top: -40px;
}
section.movie-grid-section div.grid-container figure a div.imgbox small {
  position: absolute;
  right: 10px;
  top: 5px;
  color: #fff;
}
section.movie-grid-section div.grid-container figure a figcaption {
  padding: 10px;
}
section.movie-grid-section div.grid-container figure a figcaption h3,
section.movie-grid-section div.grid-container figure a figcaption p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
section.movie-grid-section div.grid-container figure a figcaption h3 {
  font-weight: 600;
}
section.movie-grid-section div.grid-container figure a figcaption p {
  font-size: 0.9em;
}

section.swiper-section div.carousel {
  position: relative;
}
section.swiper-section div.carousel::before, section.swiper-section div.carousel::after {
  content: "";
  position: absolute;
  top: 0px;
  z-index: 13;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(2px) brightness(60%);
          backdrop-filter: blur(2px) brightness(60%);
}
section.swiper-section div.carousel::before {
  left: 100%;
}
section.swiper-section div.carousel::after {
  right: 100%;
}
@media (hover: hover) {
  section.swiper-section div.carousel:hover .next,
  section.swiper-section div.carousel:hover .prev {
    opacity: 1;
  }
}
section.swiper-section div.carousel .next,
section.swiper-section div.carousel .prev {
  display: none;
  position: absolute;
  z-index: 12;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  opacity: 0;
  transition: opacity 0.3s;
}
@media (hover: hover) {
  section.swiper-section div.carousel .next,
  section.swiper-section div.carousel .prev {
    display: block;
  }
}
section.swiper-section div.carousel .next {
  left: 0px;
}
section.swiper-section div.carousel .prev {
  right: 0px;
}

section.wrap-section div.grid-container {
  display: flex;
  flex-wrap: wrap;
}
section.wrap-section div.grid-container figure {
  margin-bottom: 20px;
}
@media screen and (min-width:1400px) {
  section.wrap-section div.grid-container figure {
    width: 20%;
  }
}
@media screen and (min-width:1000px) and (max-width:1400px) {
  section.wrap-section div.grid-container figure {
    width: 25%;
  }
}
@media screen and (min-width:500px) and (max-width:1000px) {
  section.wrap-section div.grid-container figure {
    width: 33.33%;
  }
}
@media screen and (max-width:500px) {
  section.wrap-section div.grid-container figure {
    width: 50%;
  }
}

section.scroll-section .grid-container {
  display: flex;
  overflow-x: auto;
  padding-bottom: 20px;
}
@media (hover: hover) {
  section.scroll-section .grid-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #000;
  }
  section.scroll-section .grid-container::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: transparent;
  }
  section.scroll-section .grid-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--sky);
  }
}
section.scroll-section .grid-container > * {
  flex-shrink: 0;
  margin-right: 15px;
  border: 5px solid #eee;
  box-sizing: border-box;
  overflow: hidden;
}
section.scroll-section .grid-container > *:hover img {
  filter: brightness(100%);
  transform: scale(1.1);
}
section.scroll-section .grid-container > * img {
  transition: all 0.5s;
  filter: brightness(60%);
  width: 100%;
}

section.img-section .grid-container a {
  display: block;
  width: 250px;
}

section.video-section .grid-container button {
  width: 250px;
}

section.people-section .grid-container figure {
  width: 170px;
}
section.people-section .grid-container figure:hover figcaption {
  background-color: var(--sky);
}
section.people-section .grid-container figure:hover figcaption em {
  color: var(--navy);
}
section.people-section .grid-container figure img {
  width: 100%;
}
section.people-section .grid-container figure figcaption {
  transition: all 0.5s;
  background-color: var(--navy);
  position: relative;
  padding: 10px;
  height: 100%;
}
section.people-section .grid-container figure figcaption em {
  display: block;
  color: var(--green);
  font-size: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
section.people-section .grid-container figure figcaption b {
  display: block;
  font-size: 0.8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: italic;
}/*# sourceMappingURL=common-layout.css.map */