@charset "UTF-8";
main.detail-content {
  position: relative;
  margin: 0 auto;
  margin-top: 20vh;
  width: min(90%, 1400px);
}

section.detail-section {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}
@media screen and (min-width:1000px) {
  section.detail-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width:1000px) {
  section.detail-section img.poster {
    width: 25%;
  }
}
@media screen and (max-width:1000px) {
  section.detail-section img.poster {
    display: none;
  }
}
@media screen and (min-width:1000px) {
  section.detail-section div.detail-info {
    width: 70%;
  }
}
section.detail-section div.detail-info h2 {
  font-size: min(10vw, 4em);
  margin-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
section.detail-section div.detail-info ul.meta_list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 20px;
  margin-bottom: 20px;
}
section.detail-section div.detail-info ul.meta_list li {
  margin-right: 12px;
}
section.detail-section div.detail-info ul.meta_list li.genres {
  width: 100%;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
section.detail-section div.detail-info ul.meta_list li div.vote_average {
  display: inline-block;
  width: 60px;
  height: 60px;
  vertical-align: bottom;
  position: relative;
}
section.detail-section div.detail-info ul.meta_list li div.vote_average svg {
  width: 100%;
  border-radius: 50%;
  background-color: var(--navy);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  fill: #000;
}
section.detail-section div.detail-info ul.meta_list li div.vote_average svg circle {
  stroke-width: 10px;
}
section.detail-section div.detail-info ul.meta_list li div.vote_average svg circle.line {
  stroke: #fff;
  opacity: 0.2;
}
section.detail-section div.detail-info ul.meta_list li div.vote_average svg circle.progress {
  stroke-dasharray: 10px;
  stroke-dashoffset: 7px;
  transform-origin: center center;
  /* rotate하기전 origin */
  transform: rotate(-90deg);
  fill: none;
}
section.detail-section div.detail-info ul.meta_list li div.vote_average b {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  color: var(--green);
}
section.detail-section div.detail-info ul.meta_list li div.vote_average img.logo-small {
  position: absolute;
  top: 10px;
  left: 110%;
  display: inline-block;
  width: 25px;
}
section.detail-section div.detail-info ul.meta_list li i {
  font-size: 0.8em;
}
section.detail-section div.detail-info ul.meta_list li em {
  font-size: 1.4em;
}
section.detail-section div.detail-info ul.meta_list li small {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.8);
  margin-right: 10px;
}
section.detail-section div.detail-info p.overview {
  margin-bottom: 20px;
}
section.detail-section div.detail-info ul.info {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}
section.detail-section div.detail-info ul.info li:not(:last-child) {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
}
section.detail-section div.detail-info ul.info li {
  display: flex;
  align-items: center;
}
section.detail-section div.detail-info ul.info i {
  font-size: 0.8em;
  margin-right: 3px;
}
section.detail-section div.detail-info ul.info small {
  width: 50px;
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.8);
}
section.detail-section div.detail-info ul.info em {
  flex: 1;
  font-style: italic;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}/*# sourceMappingURL=detail-info.css.map */