footer {
    background-color: #000;
    min-height: 250px;
    .footer_inner {
        width: 93%;
        margin: 0px auto;
        padding-top: 65px;
        box-sizing: border-box;
        position: relative;
        h2.ft_logo {
            width: 275px;
            float: left;
            margin-right: 100px;
            a {
                img {
                    width: 275px;
                }
            }
        }
        nav.ft_gnb {
            height: 30px;
            line-height: 150%;
            ul {
                display: flex;
                li {
                    margin-right: 20px;
                    a {
                        display: block;
                        color: #fff;
                    }
                }
            }
        }
        address {
            display: block;
            width: 800px;
            margin-top: 10px;
            margin-bottom: 40px;
            color: #fff;
            p {
                margin-bottom: 8px;
                span {
                    margin: 0px 10px;
                    font-size: 0.9em;
                    position: relative;
                    &:not(:nth-child(3n + 3))::after {
                        content: "";
                        width: 1px;
                        height: 10px;
                        border-right: solid 1px #666666;
                        position: absolute;
                        right: -22px;
                        top: 50%;
                        transform: translateY(-50%);
                        margin: 0 10px;
                    }
                }
            }
        }
        ul.ft_sns {
            display: flex;
            li {
                margin-right: 10px;
                a {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: #fff;
                    span {
                        margin-left: 10px;
                        font-size: 0.9em;
                    }
                }
            }
        }
        p.copyright {
            margin-top: 33px;
            margin-left: 13px;
            color: #fff;
            font-size: 0.9em;
        }
        div.ft_service {
            width: 500px;
            height: 110px;
            position: absolute;
            right: 0px;
            bottom: 0px;
            text-align: right;
            color: #fff;
            p.ft_callservice {
                position: relative;
                margin-bottom: 20px;
                span {
                    margin-right: 10px;
                }
                span:last-child {
                    font-weight: 600;
                }
                span:first-child::after {
                    content: "";
                    width: 1px;
                    height: 10px;
                    position: absolute;
                    right: 132px;
                    top: 50%;
                    transform: translateY(-50%);
                    border-right: 1px solid #c9c9c9;
                }
            }
            p.ft_hour {
                color: #858585;
            }
        }
    }
}
