*{
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom : 1px solid lightgray;
  background-color:gainsboro;
}
.header_left, .header_right {
  text-decoration: none;
  margin : 5px 20px;
}
.header_left{
  color : tomato;
  font-size : 1.5rem;
}
.header_right *{
  text-decoration: none;
  padding:5px;
  color : rgb(53, 52, 52);
  float : left;  
}
.header_right button {
  margin-left: 15px;
}
.banner {
  margin-bottom: 30px;
  font-style: italic;
  padding-top:20px;
  color :black;
  font-size:20pt;
  text-align:center;
  height:400px;
  background-image: url('https://atimg.sonyunara.com/files/attrangs/new_banner/1699318539_0.jpg');
}
.content {
  /* border:1px solid red; */
  padding:0px; margin:0px; 
}
.productavata_image {
  /* border:1px solid red; */
  width:300px; height:380px; 
  margin: 0.5rem 0;
}
.productavata {
  /* border:1px solid red; */
  width:400px; height:480px;
  text-align:center;
  padding-left:30px;
  float:left;
}
.product_detail, .new_product {
  width:70%;
  margin:auto;
  margin-top:40px;
  /* border:1px solid blue; */
}
.detail_image{
  /* border:1px solid red; */
  width:500px; height:580px;
  margin-right:20px;
  float:left;
}
.product_info{
  list-style-type: none;
  padding:0; margin:0;
  /* border:1px solid green; */
  width:450px; height:580px;
  float : left;
}
.product_info li{
  margin:5px 0;
}
.product_info li:nth-child(2){
  margin-bottom:10px ;
  padding-bottom:10px;
  border-bottom:2px solid lightgray;
}
.product_info li:nth-child(4){
  margin-top:20px ;
}
.detail_font_bigger{
  font-size : 18pt;
  font-weight: bold;
}
.detail_font_small{
  font-size : 10pt;  
}
.detail_select{
  border:1px dotted tomato;
  width:85%;
  padding:8px ;
}
.detail_button, .new_product_button{
  background-color: tomato;
  border:none;
  color : white;
  width:100%;
  padding:8px ;
  margin-top:15px;
}
.font_title{
  text-indent: 40px;
  font-size : 16pt;
  font-weight: bold;
}
.new_product ul {
  list-style-type: none;
}
.new_product li input{
  /* font-style: italic; */
  text-indent: 10px;
  border:1px solid lightgray;
  border-radius: 0.2rem;
  width:90%;
  padding:10px ;
  margin:3px;
}
.new_product li input[type="file"]{
  background-color: aliceblue;
}

a{
  text-decoration: none;
  color:#000;
}

section.cart_section_wrap{

  border: 1px solid gray;
  min-height: 500px;

}

li.cart_list_li{
  height:350px;
  border: 1px solid gray;
}

a.cart_list_link{
  width:300px;
  margin-right: 20px;
}
a.cart_list_link>img{
  width:300px;
  height:350px;
}

ul.cart_list{
  /* height:350px; */
}

li.cart_list_li{
  height:350px;
  display: flex;
}
ul.cart_list_text_list{
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border:  1px solid gray;

}
li.cart_list_text_list_li{
  /* margin: 10px 0px; */
  align-items: center;
}
span.cart_list_text_list_span{
  font-weight: bold;

  margin-right: 5px;

}

button.cart_list_delete_btn{
  width:45px;
  height:45px;
}

div.total_price_wrap{
  height:100px;
  text-align: center;
  line-height: 100px;
  
}
div.total_price_wrap>label{
  font-size: 24px;
  font-weight: bold;

}
span.total_price_span{

  font-size: 24px;
  font-weight: bold;
  margin: 0px 10px;
}

p.cart_section_all_select_checkbox{
  border: 1px solid gray;
  height: 30px;
  padding: 20px;
}

div.order_wrap{
  border:  1px solid gray;

}

div.order_list_wrap{
  border:1px solid gray;
}
ul.order_list{
  border: 1px solid gray;
}
li.order_list_li{
  height: 350px;
  display: flex;
}
ul.order_list_sub{
  border: 1px solid gray;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
ul.order_list_sub>li{
  
}


img.order_list_img{
  width:300px;
  height:350px;
}

div.cart_list_button_wrap{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid gray;

}

div.tot_wrap{
  border: 1px solid rgb(174, 0, 0);
  height:100px;
}

/* ul.rc-pagination{
  display: flex;
  justify-content: center;
} */