section.todo {
    div.todo_wrap {
        padding-top: 50px;
        box-sizing: border-box;
        ul.todo_list {
            display: flex;
            justify-content: space-around;
            > li {
                > p:first-child {
                    font-size: min(1.8vw, 2em);
                    margin-bottom: 50px;
                }
            }
        }
        div.do_wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            ul.result {
                text-align: center;
                font-size: min(1.8vw, 2em);
                margin-top: 50px;
                min-height: 300px;
            }
            div.btn_wrap {
                width: 100%;
                height: 100px;
                button.start_btn {
                    top: 0;
                    background: none;
                    border: none;
                    font-size: min(1.85vw, 2em);
                    font-family: "Nanum Pen Script";
                    color: #fff;
                    display: block;
                    margin: 0 auto;
                    margin-bottom: 40px;
                }
                div.range {
                    display: flex;
                    justify-content: center;
                    > p {
                        padding: 0 30px;
                        box-sizing: border-box;
                        font-size: min(1.5vw, 2em);
                    }
                    button {
                        background: none;
                        border: none;
                        color: #fff;
                        font-size: min(1.5vw, 2em);
                        font-family: "Nanum Pen Script";
                        padding: 0 30px;
                    }
                }
            }
        }
    }
}
