:root {
    --bg1: #43434f;
    --bg2: #22243a;
}

html.dark {
    --bg1: #fff;
}

body {
    background-color: var(--bg1);
}

* {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

div.modal {
    width: 500px;
    aspect-ratio: 1;
    background-color: var(--bg2);
    border-radius: 10px;
    position: relative;
    margin: 200px auto;
    box-shadow: 6px 3px 16px -2px rgba(42, 42, 42, 0.75);
    -webkit-box-shadow: 6px 3px 16px -2px rgba(42, 42, 42, 0.75);
    -moz-box-shadow: 6px 3px 16px -2px rgba(42, 42, 42, 0.75);
    overflow: hidden;
    &.active {
        width: 500px;
        aspect-ratio: 1;
        background-color: #ffffff;
        border-radius: 10px;
        position: relative;
        margin: 200px auto;
        box-shadow: 6px 3px 16px -2px rgba(42, 42, 42, 0.75);
        -webkit-box-shadow: 6px 3px 16px -2px rgba(42, 42, 42, 0.75);
        -moz-box-shadow: 6px 3px 16px -2px rgba(42, 42, 42, 0.75);
        overflow: hidden;
    }
}

nav.nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #393b55;
    padding: 20px;
    div.mode_icon {
        width: 20px;
        height: 20px;
        background-color: red;
    }
    div.dark_icon {
        width: 20px;
        height: 20px;
        background-color: blue;
    }
}

/* */
ul.todo_list {
    padding: 20px;
    li.todo_li {
        display: flex;
        justify-content: space-between;
        color: #fff;
        margin-bottom: 10px;
        input {
            margin-right: 5px;
            accent-color: deeppink;
            /* CSS에서 비교적 최근에 추가된 accent-color 속성은 말 그대로 강조 색상을 지정하기 위해 사용하는데요.
            <input> 요소의 일부 타입(radio, checkbox, range)과 <progress> 요소를 상대로만 쓸 수 있는 다소 특이한 CSS 속성입니다.*/
        }
    }
}

div.input_wrap {
    position: absolute;
    bottom: 0px;
    background-color: #1a1d34;
    width: 100%;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    input.input {
        padding: 10px;
        width: 80%;
        border-radius: 5px 0px 0px 5px;
        border: none;
    }
    button.add_btn {
        background-color: #cc784d;
        flex-grow: 1;
        border-radius: 0px 5px 5px 0px;
        border: none;
    }
}
