section.detail_wrap {
    border: 1px solid gray;
    min-height: 600px;
    div.detail_inner {
        border: 1px solid gray;
        min-height: 600px;
    }
    div.create_review_wrap {
        // height: 50px;
        // min-height: 300px;
        // display: flow-root;
        border: 1px solid gray;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
            border: 1px solid gray;
            padding: 20px;
        }
        form {
            flex-grow: 1;
            // padding: 20px;
            input {
                width: 87%;
                padding: 20px;
            }
            button {
                padding: 20px;
            }
        }
    }
    div.review_list {
        min-height: 500px;
        border: 1px solid gray;
        ul {
            li {
                padding: 20px;
                border: 1px solid gray;
                h4 {
                    margin-bottom: 5px;
                }
            }
        }
    }
}
