div.banner {
    height: 50px;
    background-color: #000;
}

.nav {
    height: 100%;
    background-color: red;
}
ul.list {
    display: flex;
    li.list_li {
        border: 1px solid gray;
    }
}
