<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Course!</h1>
  <ul>
  <% courses.forEach(course =>{ %>
    <li><%= course.name%></li>
  <% })%>
  </ul>
  <!-- 위의 이름은 스크립트릭이라고 함 -->
</body>
</html>