<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <h1>Welcome~~ <%= name %></h1>
    <!-- 해당 코드는 서버스크립트코드이다. -->
    <!-- ejs는 서버사이트스크립트이다. -->
    <!-- ejs를 해석하는 엔진은 자바스크립트엔진 -->
    <!-- 서버에서 name에 들어갈 부분을 결정해서 넣어준다. -->
    <!-- ejs로 템플릿을 만든 이유, 실행을 할 때마다 값이 바뀌기 때문 -->
    <!-- 로그인 할 때마다 새로운 index.html 페이지를 보여주는 것이 아니라 한 페이지안에 데이터만 변경시켜 보여주는 방식이다. -->
    
</body>
</html>